:root {
--color-primary: #ffffff;
--color-secondary-adress: #6b6b6b;
--color-secondary-title: #45505b;
--color-secondary-text: #272829;
--color-secondary-placeholder:#454545;
--color-tertiary: #0563bb;
--color-border: #ededee;
--color-fulltime: #28a745;
}



html {
  font-size: 62.5%; }

body {
  color: var(--color-secondary-text);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

section,footer {
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 2rem;
}

h6 {
  margin-bottom: .5rem;
  font-family:'Montserrat', sans-serif; ;
}

a {
  cursor: pointer;
}

span {
  display: block;
}