:root {
--color-primary: #ffffff;
--color-secondary-adress: #6b6b6b;
--color-secondary-title: #45505b;
--color-secondary-text: #272829;
--color-secondary-placeholder:#454545;
--color-secondary-button:#6c757d;
--color-tertiary: #0563bb;
--color-border: #ededee;
--color-fulltime: #28a745;
}



html {
  font-size: 62.5%; }

body {
  color: var(--color-secondary-text);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

section, footer, .container {
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 2rem;
}

h6 {
  margin-bottom: .5rem;
  line-height: 1.2;
  font-family:'Montserrat', sans-serif;
  text-transform: capitalize;
}

a {
  cursor: pointer;
}

span {
  display: inline-block;
}

.btn {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  padding: 1rem 3rem;
  appearance: none;
  border: 1px solid var(--color-tertiary);
  text-transform: capitalize;
  &--transparent{
    background-color: transparent;
    border: 1px solid currentColor;
  }
  &--grey{
    background-color: transparent;
    color:var(--color-secondary-button);
    border: 1px solid currentColor;
  }
  &--round {
    font-weight: bold;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    
}

}

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--color-secondary-placeholder);
  border: 1px solid var(--color-border);
  margin-bottom: 2rem;
  padding: 1.3rem 2rem;
  background-color: inherit;
}

.type {
  display: flex;
            align-self: end;
            padding: .5rem .8rem;
            text-transform: capitalize;
            color: var(--color-primary);
            max-width: max-content;
            background-color: var(--color-fulltime);
}

// Table properties
table {
  width: 100%;
}
tr,thead {
  text-align: center;
}

th{
  min-width: 72px;
  color: var(--color-tertiary);
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}