:root {
--color-primary: #ffffff;
--color-secondary-title: #45505b;
--color-secondary-text: #272829;
--color-tertiary: #0563bb;
}



html {
  font-size: 62.5%; }

body {
  color: var(--color-secondary-text);
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}