@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap");
:root {
  --color-primary: #ffffff;
  --color-secondary-adress: #6b6b6b;
  --color-secondary-title: #45505b;
  --color-secondary-text: #272829;
  --color-secondary-placeholder:#454545;
  --color-tertiary: #0563bb;
  --color-border: #ededee;
  --color-fulltime: #28a745; }

html {
  font-size: 62.5%; }

body {
  color: var(--color-secondary-text);
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }

section, footer {
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

h2 {
  margin-bottom: 2rem; }

h6 {
  margin-bottom: .5rem;
  font-family: 'Montserrat', sans-serif; }

a {
  cursor: pointer; }

span {
  display: block; }

h1, h2, h6 {
  color: var(--color-secondary-title); }

.heading-primary {
  text-align: center; }
  .heading-primary--main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center; }
  .heading-primary--sub {
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.75; }

.heading-secondary {
  margin-bottom: 4rem;
  text-align: center; }
  .heading-secondary--main {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif; }

.comment {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 6rem;
  background: url(../assets/background_image//bg-comment.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .comment::before {
    z-index: -1;
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }
  .comment__content {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .comment__text {
    font-size: 24px;
    line-height: 1.75;
    text-align: center;
    margin-bottom: 3rem;
    font-family: "Playfair Display", serif; }
  .comment__image {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid white;
    box-sizing: content-box;
    margin-bottom: 2rem; }
  .comment__username {
    font-size: 1.9rem; }

.filterBar {
  height: 20rem;
  position: relative; }

.job-search__form {
  padding: 1rem;
  background-color: white; }

.job-search__filter {
  display: flex;
  flex-direction: column;
  width: 88%;
  padding: 2.8rem;
  background-color: inherit;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); }

.job-search__btn {
  appearance: none;
  padding: 1rem 3rem;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: 1px solid var(--color-tertiary); }

.job-search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--color-secondary-placeholder);
  border: 1px solid var(--color-border);
  margin-bottom: 2rem;
  padding: 1.3rem 2rem;
  background-color: inherit; }

.hero {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 88%;
  background: url(../assets/background_image/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; }
  .hero::before {
    z-index: -1;
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }

.heading-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; }

#logo-menu {
  position: absolute;
  top: 0;
  right: 2.4rem;
  display: flex;
  margin-top: 2.5rem; }

.latestJob {
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-family: "Open Sans", sans-serif; }

.job-list {
  display: flex;
  flex-direction: column; }
  .job-list__item {
    padding: 2rem 1.5rem;
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-wrap: wrap; }
  .job-list__photo {
    flex: 0 0 50%;
    width: auto;
    max-width: 100%;
    margin-right: 0; }
    .job-list__photo img {
      height: 7rem;
      width: 7rem;
      max-width: 100%; }
  .job-list__contract {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    text-align: right;
    width: auto;
    max-width: 100%; }
    .job-list__contract span {
      display: block; }
    .job-list__contract .salary {
      font-family: "Open Sans", sans-serif;
      margin-bottom: .8rem; }
    .job-list__contract .type {
      display: flex;
      align-self: end;
      padding: .5rem .8rem;
      text-transform: capitalize;
      color: var(--color-primary);
      max-width: max-content;
      background-color: var(--color-fulltime); }
  .job-list__info {
    margin-top: 1rem;
    flex: 0 0 100%; }
    .job-list__info ul {
      line-height: 1.75; }

.compagny__name {
  color: var(--color-tertiary) !important;
  font-weight: bolder; }

.compagny__place {
  color: var(--color-secondary-adress); }

header {
  position: absolute;
  top: 0;
  left: 2.4rem;
  display: flex;
  margin-top: 2.5rem; }

.logo {
  white-space: nowrap;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-right: auto; }
  .logo--footer {
    margin-bottom: 2.5rem; }

footer {
  padding-top: 7rem;
  padding-bottom: 7rem;
  line-height: 1.75;
  background-color: #f7f8f9; }
  footer h6 {
    margin: 1.8rem 0 1.5rem 0;
    font-size: 19px; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--color-primary);
  z-index: 99;
  position: fixed;
  width: 80%;
  border-right: 2px solid var(--color-border); }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 100%; }
  nav li {
    display: flex;
    background-color: #f2f3f5;
    color: #6c757d;
    padding: 1.5rem 1rem;
    width: 90%;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    margin-bottom: 1.2rem; }
    nav li.active {
      color: var(--color-primary);
      background-color: var(--color-tertiary); }
    nav li img {
      height: 2rem; }
    nav li p {
      padding-left: 1.5rem; }

.container--connexion {
  height: 100vh; }

.signIn, .signUp {
  height: 50vh;
  display: flex; }

.signUp {
  background-color: var(--color-tertiary); }

.inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem; }
