@mixin flexAllCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin centerAbsolute ($top) {
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}