
.box {
    position: relative;
}


.signIn,
.hello-friend, .welcome-back {
  height: 50vh;
  display: flex;
  justify-content: center;
}
 
.signIn, .create-account {
  &__form {
    @include flexAllCenter;
  }
  & a {
    margin: 2rem 0 3rem;
  }
  & h1 {
      margin-bottom: 3rem;
  }
}

.hello-friend, .welcome-back {
  background-color: var(--color-tertiary);
  color: var(--color-primary) !important;
  & p {
    letter-spacing: 0.5px;
    margin: 2rem 0 3rem;
  }
  & h1 {
      color: inherit;
  }
}

.inner-box {
  @include flexAllCenter;
  &--blue {
    padding: 0 5rem;
    text-align: center;
  }
   
}

.create-account {
  padding: 3rem 0;
}

.radioButton {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  margin-right: 1rem;
  &:checked {
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
  }
}

.container-radioOptions {
display: flex;

}

label.createAd-form__block {
  margin-bottom: 5px;
 }
 