.container--connexion {
  height: 100vh;
}

.box {
    position: relative;
}


.signIn,
.hello-friend, .create-account, .welcome-back {
  height: 50vh;
  display: flex;
  justify-content: center;
}

.signIn, .create-account {
  &__form {
    @include flexAllCenter;
  }
  & a {
    margin: 2rem 0 3rem;
  }
  & h1 {
      margin-bottom: 3rem;
  }
}

.hello-friend, .welcome-back {
  background-color: var(--color-tertiary);
  color: var(--color-primary) !important;
  & p {
    letter-spacing: 0.5px;
    margin: 2rem 0 3rem;
  }
  & h1 {
      color: inherit;
  }
}

.inner-box {
  padding: 0 5rem;
  @include flexAllCenter;
}


