header {
    
    position: absolute;
    top: 0;
    left: 2.4rem;

    display: flex;
    margin-top: 2.5rem;
}

.logo {
    white-space: nowrap;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px;
    margin-right: auto;
    &--footer {
        margin-bottom: 2.5rem;
    }
}
